.row
  .col.s10.offset-s1
    -if !params[:search].empty?
      -if @legislators.empty? && @pg_results.empty?
        %h4="No results found for #{params[:search]}"
      -if @legislators.any?
        %h4="#{@legislators.count} legislators found for #{params[:search]}"
        %table.bordered.hoverable.responsive-table#results
          %thead
            %tr
              %th Name
              %th Party
              %th State
              %th Currently in-office
              %th Website
          %tbody
            -@legislators.each do |legislator|
              %tr{'data-url' => "/legislators/#{legislator.id}"}
                %td=legislator.full_title
                %td=legislator.party
                %td=legislator.state
                %td= legislator.in_office ? 'Yes' : 'No'
                %td=link_to legislator.website, legislator.website, target: '_'
      = paginate @legislators
      -if @pg_results.any?
        %h4="#{@pg_results.count} bills found for #{params[:search]}"
        %table.bordered.hoverable.responsive-table#results
          %thead
            %tr
              %th Name
              %th Content
              %th Sponsor
          %tbody
            -@pg_results.each do |result|
              -bill = result.searchable
              %tr{'data-url' => "/bills/#{bill.bill_id}"}
                %td=bill.official_title[0..80]
                %td=result.content
                %td=bill.legislator.full_title
