.row
  .col.s10.offset-s1
    -if !params[:query].empty?
      %h4="#{@num_bills} bills found for #{params[:query]}"
      -if @pg_results.any?
        %table.bordered.hoverable.responsive-table#results
          %thead
            .row
              %td.col.s2 Introduced
              %td.col.s10 Summary
          %tbody
            .row
              -@pg_results.each do |result|
                -bill = result.searchable
                %tr{'data-url' => "/bills/#{bill.bill_id}"}
                  %td.col.s2=bill.introduced_on.strftime('%B %-d, %Y')
                  %td.col.s10
                    %h6.bill_title="#{bill.title} - #{bill.short_title}"
                    %p.summary=bill.summary_short
        = paginate @pg_results
