.row
  .col.s10.offset-s1
    .card-panel
      %h5
        =@bill.title
        =@bill.short_title if @bill.short_title
      %table.bill_summary
        %tbody
          .row
            %tr
              %td.col.s2 Title:
              %td.col.s10=@bill.official_title
            %tr
              %td.col.s2 Status:
              %td.col.s10=@bill.current_status
            %tr
              %td.col.s2 Introduced:
              %td.col.s10=@bill.introduced_on.strftime('%B %-d, %Y')
            %tr
              %td.col.s2 Sponsor:
              %td.col.s10
                %p= link_to @bill.legislator.name, @bill.legislator
                %p= @bill.legislator.verbose_summary
                %p= @bill.legislator.full_party
            %tr
              %td.col.s2 Summary:
              %td.col.s10= @bill.summary_short

.row
  .col.s7.offset-s1
    .card-panel
      %h4 Actions
      %table.actions
        %tbody
          -@bill.bill_actions.order(created_at: :desc).each do |action|
            -if action.important?
              %tr.bold
                %td.col.s3="#{action.date.strftime('%B %-d, %Y')}:"
                %td.col.s9="#{action.text}"
            -else
              %tr
                %td.col.s3="#{action.date.strftime('%B %-d, %Y')}:"
                %td.col.s9="#{action.text}"

          %td.col.s3="#{@bill.introduced_on.strftime('%B %-d, %Y')}:"
          %td.col.s9="Introduced to the #{@bill.chamber}"

  .col.s3
    .card-panel
      %h4 Other
      .row
        .col.s6
          %p=link_to "<i class='material-icons'>note_add</i>".html_safe << "Read more at GovTrack", @bill.url, target: '_'
        .col.s6
          %p=link_to "<i class='material-icons'>call</i>".html_safe << "Call #{@bill.legislator.name}", '#'
      .row
        .col.s6
          -if current_user
            -if @bill.bookmarked_by_user?(current_user.id)
              %p
                %i.material-icons bookmark
                Bookmarked!
            -else
              %p=link_to "<i class='material-icons'>bookmark_border</i>".html_safe << 'Add to bookmarks', bookmarks_path(bill_id: @bill.id), method: :post
        .col.s6
          %p=link_to "<i class='material-icons'>refresh</i>".html_safe << "Find another good deed", '/good_deed'

      .row
        .col.s12
          %h6 Share
          .fb-share-button{"data-href" => "#{request.base_url}/bills/bill_id", "data-layout" => "button"}
          %a{href: "https://twitter.com/share", class: "twitter-share-button", 'data-url' => "#{request.base_url}/bills/#{@bill.bill_id}", 'data-size' => "large", 'data-count' => "none", 'data-hashtags' => "congress"} Tweet

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
