.row
  .col.s1
    %p &nbsp;
  .col.s3
    .card-panel
      %h4=@legislator.name
      =image_tag "https://theunitedstates.io/images/congress/225x275/#{@legislator.bioguide_id}.jpg"
      %p=@legislator.full_leadership_role if @legislator.leadership_role
      %p=@legislator.verbose_summary
      %p=link_to @legislator.website, @legislator.website
      %p="#{@legislator.age} years old"
    .card-panel
      %h4 Read More
      .row
        .col.s12
          %p=link_to "VoteSmart", @legislator.votesmart_url, target: '_'
          %p=link_to "BioGuide", @legislator.bioguide_url, target: '_'

      %h4 Social Media
      .row
        .col.s12
          %p=link_to 'Youtube', "https://www.youtube.com/#{@legislator.youtube_id}", target: '_'
          %p=link_to "Facebook", "http://www.facebook.com/#{@legislator.facebook_id}", target: '_'
          %p=link_to "Twitter", "http://www.twitter.com/#{@legislator.twitter_id}", target: '_'

      %h4 Contact
      .row
        .col.s12
          %p="Phone: #{@legislator.phone}"
          %p="Fax: #{@legislator.fax}"
          %p=link_to "Contact form", @legislator.contact_form

      .row
        .col.s12
          %p Address:
          %p=@legislator.office

  .col.s7
    .card-panel
      -if @legislator.bills.count == 0
        %h4 No sponsored bills
        %h5="Give the #{@legislator.full_title} a call and figure out what's on his/her plate"
      -else
        %h4="Sponsored #{pluralize(@legislator.bills.count, 'bill')}"
        %table.responsive-table.bill_summary#clickable
          %thead
            %tr
              %td.col.s2 Introduced
              %td.col.s10 Summary
          %tbody
            .row
              -@legislator.bills.each do |bill|
                %tr{'data-url' => "/bills/#{bill.bill_id}"}
                  %td.col.s2=bill.introduced_on.strftime('%B %-d, %Y')
                  %td.col.s10
                    %h6.bill_title
                      ="#{bill.title} - "
                      =bill.short_title if bill.short_title
                      =bill.official_title unless bill.short_title
                    %p.summary=bill.summary_short
