<!DOCTYPE html>
<html>
  <head>
    <title>GoodDeeds</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>

    <%= render 'layouts/header' %>

    <div class="main">
      <% if notice %>
        <div class="row">
          <div class="col s6 offset-s3">
            <div class="card-panel green notice">
              <i class="material-icons">done</i>
              <span class="white-text"><%= notice %></span>
            </div>
          </div>
        </div>
      <% elsif alert %>
        <div class="row">
          <div class="col s6 offset-s3">
            <div class="card-panel red alert">
              <i class="material-icons">error</i>
              <span class="white-text"><%= alert %></span>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
  
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</html>
